
/*
If you inspect your .label element with your browser's developer tools, 
you may notice that it's actually 288 pixels wide instead of 270. 
This is because, by default, the browser includes 
the border and padding when determining an element's size.

To solve this, reset the box model by creating 
a * selector and giving it a box-sizing property of border-box.

Remember that the use of h1, h2, and similar tags determine 
the semantic structure of your HTML. However, 
you can adjust the CSS of these elements to control 
the visual flow and hierarchy.

Create an h1 rule and set the font-weight property to 800. 
This will make your h1 text bolder.

Fine-tune the placement of your h1 by giving it a 
top and bottom margin of -4px and a left and right margin of 0

The float property is used to place an element on 
the left or right of its container, 
allowing other content (such as text) to wrap around it.

Create a new .right selector and set the float property to right.

The rem unit stands for root em, and is relative to the font size of the html element.

Create an .sm-text selector and set the font-size to 0.85rem, 
which would calculate to be roughly 13.6px 
(remember that you set your html to have a font-size of 16px).
*/



* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px
}

p {
  margin: 0;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  clear: right;
}

.bold {
  font-weight: 800;
}

.right {
  float: right;
}

.lg {
  height: 10px;
}

.lg, .md {
  background-color: black;
  border: 0;
}

.md {
  height: 5px;
}

.sm-text {
  font-size: 0.85rem;
}

.calories-info h1 {
  margin: -5px -2px;
  overflow: hidden;
}

.calories-info span {
  font-size: 1.2em;
  margin-top: -7px;
}

.indent {
  margin-left: 1em;
}

.dbl-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent:-8px;
}